<div class="row">
 
  <div style="    display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
">
    <div class="container2HeaderText mb-3">
      PRE-READING AND PREPARATION
    </div>
    <div class="setup-state-container">
    
      <div *ngFor="let content of programContents; let i = index" class="d-flex setup-state-block">
        <div *ngIf="content.lastRead!='0001-01-01T00:00:00' else elseblock"  class="setup-state rightCheckMark" [class]="content"
          [innerHTML]="">
        </div> 
        <ng-template #elseblock>
          <div class="setup-state unCheckStep" [class]="content"
          [innerHTML]="i > i ? '&#10003;' : i + 1">
        </div> 

        </ng-template>
              
      </div>
     
      
    </div>
    
  </div>

  <div class="full-height" *ngIf="isDataLoaded && hasData; else noDataTemplate">
    <carousel [cellsToShow]="4" cellWidth="100%" class="carouselCardRow">

      <div class="carousel-cell" *ngFor="let item of programContents; let i = index">
        <div>

          <div class="row">
         
            <div class="">
              <div class="card carouselCardDiv">
                <div class="card-header text-white p-0 overlay">
                  <div class="item-stepno-badge">
                    <!-- {{item.stepNo}} -->
                  </div>
                  <div class="item-complated-badge" *ngIf="nextVideoIndex > i">
                    <div class="fa fa-check"></div>
                  </div>
                  <div *ngIf="item.contentTypeName=='PDF Document'" class="overlay-content" >
                    <div class="round-button" (click)="handleWatchVideo(item , programContents)" >
                      <!-- <i *ngIf="item.contentTypeName=='Video'" class="fa fa-play fa-2x pl-1" aria-hidden="true"  ></i> -->
                      <i  class="" aria-hidden="true" ><img src="./assets/images/pdfIcon.svg" alt=""> </i>
                    </div>
                  </div>
                  <img *ngIf="item.contentTypeName=='PDF Document'" [src]="'data:image/png;base64,'+item.contentImage"
                    onerror="this.src='../../../../assets/img/default-image.png'" class="card-img-top">
                    <video preload="metadata" id="vid2" #vid1 (click)="videodata(vid1)" *ngIf="item.contentTypeName=='Video'"  width="470" height="255" [poster]="'data:image/png;base64,'+item.contentImage" controls>
                      <i  class="" aria-hidden="true" > <img src="./assets/images/playIcon.svg" alt="">  </i>
                      <source src="movie.mp4" type="video/mp4">
                      <source src={{item.contentLocation}} type="video/ogg">
                    </video>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.stepName}}</h5>
                  <p class="card-text cardDescDiv">{{item.contentBlurb}}</p>
                  
                </div>
               
                              
                <button style="position: absolute;bottom: 32px;left: 25%;" 
                  class="cardBtnBottom btn btn-block btn-primary text-center" (click)="handleWatchVideo(item ,programContents)">
                  <div  >
                    <span *ngIf="item.contentTypeName=='Video'">WATCH NOW</span>
                    <span *ngIf="item.contentTypeName=='PDF Document'">VIEW NOW</span>
                  </div>
                
                </button>

              </div>
            </div>


          </div>
        </div>
       
        <ng-template #noDataTemplate>
          <div class="d-flex justify-content-center align-items-center h-100" *ngIf="isDataLoaded">
            <span class="text-muted">No upcoming courses</span>
          </div>
        </ng-template>
      </div>
    </carousel>
    
   

  </div>
  <ng-template #noDataTemplate>
    <div class="d-flex justify-content-center align-items-center h-100" *ngIf="isDataLoaded">
      <span class="text-muted">No upcoming courses</span>
    </div>
  </ng-template>



</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: rgb(192, 20, 20)"> Loading... </p>
</ngx-spinner>