<div class="navbar" *ngIf="currentUser">


    <div class="flexWrap">
        <div class="userInfo">

            <div style="padding-right: 27.3px;" class="marPad0">
                <img src="./assets/logo/subio.svg" alt="" height="40px" width="90" height="40">
            </div>


            <div style="display: flex;
            align-items: center;" class="marPad0">

                <img [src]="userSession.profilePic ? 'data:image/png;base64,' + userSession.profilePic : './assets/img/dummy-profile.png'"
                    alt="Avatar" class="avatar" width="25px" style="border-radius:50% ; object-fit: cover;     width: 32px;
                height: 32px;" />


                <!-- <img src="../../../assets/componnets/Avatar.svg" alt="Avatar" class="avatar"> -->


            </div>
            <div style="padding-left: 18px;" class="marPad10">

                <P class="marPad0">Good Morning {{userSession.firstName}}</P>
                <span class="marPad0">Here is your<strong> Keys to Success</strong> </span>

            </div>

        </div>
        <div class="btmFlex d-flex">

            <div class="marPad0 dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img class="dropdown-toggle" src="./assets/componnets/notificatioBtn.svg" alt="sv" width="50" height="48">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">
                        <h5 class="mb-0 text-primary userName">
                            {{userSession.firstName}}
                        </h5>
                        <span class="text-muted userJob">{{userSession.jobTitle}}</span>
                    </div>
                    <hr class="my-1">
                    <a class="dropdown-item cursorP" [routerLink]="'/profile/updateProfile'">Profile</a>
                    <hr class="my-1">
                    <a class="dropdown-item cursorP" [routerLink]="'/change-passwoord'">sarfaraz</a>
                </div>
            </div>

            <div class="marPad0 dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="./assets/componnets/settingBtn.svg" alt="sv" width="50" height="48">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">
                        <h5 class="mb-0 text-primary userName">
                            {{userSession.firstName}}
                        </h5>
                        <span class="text-muted userJob">{{userSession.jobTitle}}</span>
                    </div>
                    <hr class="my-1">
                    <a class="dropdown-item cursorP" [routerLink]="'/profile/updateProfile'">Profile</a>
                    <hr class="my-1">
                    <a class="dropdown-item cursorP" [routerLink]="'/change-passwoord'">Change Password</a>
                </div>
            </div>

            <div class="marPad0" style="cursor:pointer">
                <img (click)="onPressSignOut()" src="./assets/componnets/logout.svg" alt="" width="125"
                    height="48">

            </div>


        </div>
    </div>

    <ng-container
        *ngIf=" router.url.includes('key-to-success') || router.url.includes('/layout/home/goal/') 
        || router.url.includes('my-library') || router.url.includes('profile') || router.url.includes('/layout/media/') ">

        <div class="wrapper">
            <div (click)="clickB1()" [ngClass]="bool1 ===true? 'itemFocus ': 'item' "  [routerLink]="'/layout/home'">
                <span id="homeLabel" [ngClass]="bool1 ===true? 'homeLabelB ': 'homeLabel'">Home</span>
            </div>
            <div (click)="clickB2()" [ngClass]="bool2 ===true? 'itemFocus ': 'item' "  [routerLink]="'/key-to-success'">
                <span id="goalLabel"  [ngClass]="bool2 ===true? 'goalLabelB ': 'goalLabel'" >My Goals</span>
            </div>
            <div (click)="clickB3()" [ngClass]="bool3 ===true? 'itemFocus ': 'item' "  [routerLink]="'my-library'">
                <span id="libraryLabel" [ngClass]="bool3 ===true? 'libraryLabelB ': 'libraryLabel'" >My Library</span>
            </div>

        </div>

    </ng-container>

</div>

<router-outlet></router-outlet>