
<div class="d-flex justify-content-between">
    <h3 class="Pophead">Edit Profile </h3>
    
    <div class="closeBtn" [mat-dialog-close]="true">
        <i class="icon-wrong"><img src="./assets/images/crossCloseIcon.svg" alt=""></i>
        <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    </div>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate #profileId>
    <div class="row my-3">
        
        <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>First Name </mat-label>
                <input name="firstName" matInput placeholder="firstName" formControlName="firstName">
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input name="lastName" matInput placeholder="lastName" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Preferred Name</mat-label>
                <input name="preferredName" matInput placeholder="preferredName" formControlName="preferredName">
            </mat-form-field>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Job Title </mat-label>
                <input name="jobTitle" matInput placeholder="jobTitle" formControlName="jobTitle">
            </mat-form-field>
        </div>

         <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input name="contactNumber" matInput placeholder="contactNumber" formControlName="contactNumber">
            </mat-form-field>
        </div>

        <div class="col-3">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input [readonly]="true" name="emailAddress" matInput placeholder="emailAddress" formControlName="emailAddress">
            </mat-form-field>
        </div>

        <div class="col-5">
            <!-- <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Date of Birth (DD/MM/YYYY)</mat-label>
                <input name="BirthDate" matInput (click)="dobPicker.open()" (focus)='dobPicker.open()' [matDatepicker]="dobPicker" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field> -->
            <!-- <input style="visibility: hidden; position:absolute; width: 0;padding: 0;margin: 0;" class="form-control dateRange mt-1
            " placeholder="Date of Birth (DD/MM/YYYY)" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [max]="maxDate" formControlName="dateOfBirth" (dateSelect)="onDateChange()">
            <input placeholder="Date of Birth (DD/MM/YYYY)" formControlName="dateOfBirth" (click)="d.toggle();" class="form-control dateRange mt-1" type="text" [value]="renderDate"> -->
            <!-- <input type="text" ngxDaterangepickerMd (change)="onDateChange()"
                formControlName="dateOfBirth" class="form-control dateRange mt-1" placeholder="Date of Birth (DD-MM-YYYY)"
                [showDropdowns]="true"
                [(ngModel)]="selectedRange"
                [singleDatePicker]="true"
                [autoApply]="true"
                [keepCalendarOpeningWithRange]="false"
                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
            /> -->
            <!-- <input
            type="text"
            name="daterange"
            formControlName="dateOfBirth"
            ngxDaterangepickerMd
            [showDropdowns]="true"
            [(ngModel)]="selectedRange"
            [locale]="calendarLocale"
            [placeholder]="calendarPlaceholder"
            class="form-control"
            [singleDatePicker]="true"
          /> -->
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div>
            <button type="submit"  class="btn updateBtn py-2 px-3">Submit</button>
        </div>
    </div>
</form>

<!-- <div mat-dialog-actions  align="end">
    <button mat-button mat-dialog-close>Cancel</button>

</div> -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#0198e0" type ="ball-scale-multiple" [fullScreen]="true">
    <p style="color: #0198e0"> Loading... </p>
  </ngx-spinner>